<footer>
  <div class="footer-social">
    <a href="" target="_blank" rel="noopener noreferrer">
      <f-a name="github" type="brand" fixed></f-a>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <f-a name="discord" type="brand" fixed></f-a>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <f-a name="youtube" type="brand" fixed></f-a>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <f-a name="x-twitter" type="brand" fixed></f-a>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <f-a name="instagram" type="brand" fixed></f-a>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <f-a name="tiktok" type="brand" fixed></f-a>
    </a>
  </div>
  <span class="footer-separator"></span>
  <div class="footer-link">
    <a href="#">Tutorial</a>
    <a href="#">Courses</a>
    <a href="#">More</a>
    <a href="#">Profile</a>
    <a href="#">Link Bio</a>
  </div>
  <div class="actual-footer">
    Copyright © {{ dateFormat "2006" now }} Futami Yarn
  </div>
</footer>
