<nav class="navbar">
  <div class="navbar-container">
    <logo-ani class="navbar-logo"></logo-ani>
    <div class="navbar-menu">
      <a href="#" class="navbar-item active">Tutorial</a>
      <a href="#" class="navbar-item">Courses</a>
      <a href="#" class="navbar-item">More</a>
      <a href="#" class="navbar-search" aria-label="can you serch anything?"
        >{{ partial "fa_icons/magnifying-glass.svg" . }}<span class="key-press">/</span></a
      >
      <a href="" class="navbar-button">Futa+</a>
    </div>
  </div>
</nav>
