{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 1 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

<ul class="pagination">
  <!-- First page. -->
  <li class="pagination__item pagination__item--first">
    {{ if eq $paginator.PageNumber 1 }} 1 {{ else }}
    <a
      class="pagination__link pagination__link--first"
      href="{{ $paginator.First.URL }}"
    >
      1
    </a>
    {{ end }}
  </li>

  {{ if ge $paginator.PageNumber (add 3 $adjacent_links) }} {{ if gt
  $paginator.TotalPages (add 3 $adjacent_links) }}
  <li class="pagination__item pagination__item--first">...</li>
  {{ end }}{{ end }}

  <!-- Page numbers. -->
  {{ range $paginator.Pagers }} {{ $.Scratch.Set "page_number_flag" false }}

  <!-- Advanced page numbers. -->
  {{ if gt $paginator.TotalPages 2 }} {{ if ne .PageNumber 1 }} {{ if ne
  .PageNumber $paginator.TotalPages }}

  <!-- Lower limit pages. -->
  <!-- If the user is on a page which is in the lower limit.  -->
  {{ if le $paginator.PageNumber $lower_limit }}

  <!-- If the current loop page is less than max_links. -->
  {{ if le .PageNumber $max_links }} {{ $.Scratch.Set "page_number_flag" true }}
  {{ end }}

  <!-- Upper limit pages. -->
  <!-- If the user is on a page which is in the upper limit. -->
  {{ else if ge $paginator.PageNumber $upper_limit }}

  <!-- If the current loop page is greater than total pages minus $max_links -->
  {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }} {{
  $.Scratch.Set "page_number_flag" true }} {{ end }}

  <!-- Middle pages. -->
  {{ else }} {{ if and ( ge .PageNumber (sub $paginator.PageNumber
  $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber
  $adjacent_links) ) }} {{ $.Scratch.Set "page_number_flag" true }} {{ end }} {{
  end }} {{ end }} {{ end }} {{ end }}

  <!-- Output page numbers. -->
  {{ if eq ($.Scratch.Get "page_number_flag") true }}
  <li
    class="pagination__item{{ if eq . $paginator }} pagination__item--current{{ end }}"
  >
    {{ if eq . $paginator }} {{ .PageNumber }} {{ else }}
    <a href="{{ .URL }}" class="pagination__link"> {{ .PageNumber }} </a>
    {{ end }}
  </li>
  {{ end }} {{ end }}

  <!-- d -->
  {{ if le $paginator.PageNumber (sub $paginator.TotalPages (add 2
  $adjacent_links)) }} {{ if gt $paginator.TotalPages (add 3 $adjacent_links) }}
  <li class="pagination__item pagination__item--first">...</li>
  {{ end }}{{ end }}

  <!-- Last page. -->
  {{ if gt $paginator.TotalPages 1 }}
  <li class="pagination__item pagination__item--last">
    {{ if eq $paginator.PageNumber $paginator.TotalPages }} {{
    $paginator.TotalPages }} {{ else }}
    <a
      class="pagination__link pagination__link--last"
      href="{{ $paginator.Last.URL }}"
    >
      {{ $paginator.TotalPages }}
    </a>
    {{ end }}
  </li>
  {{ end }}
</ul>
