{{ define "title"}} (404) Hey, what are you looking for? {{end}} {{ define
"main" }}
<div class="mb-8 mt-[5vh] text-center">
  <h1 class="text-xl font-bold md:text-4xl">
    404 <span class="text-yellow-600">Not Found</span>
  </h1>
  <h3 class="md:text-2xl">
    Enjoy the random
    <a
      href="https://project-imas.wiki/Ami_Futami"
      class="text-slate-500 transition-colors duration-300 ease-out hover:text-yellow-500"
      target="_blank"
      rel="noopener noreferrer"
      >Ami</a
    >
    Video Clips
  </h3>
</div>
<ami-futami></ami-futami>
{{end}}
